
.login-form {
    -fx-font-family: Lato;
}

.login-input {
    -fx-background-color:  #e6e4e3;
    -fx-border-color:  transparent transparent transparent #0a7df3;
    -fx-border-radius: none;
    -fx-border-width:  1px 1px 1px 5px;
}

.login-input:focused {
    -fx-border-color:  transparent transparent transparent #0a6ef3;
}

.login-button {
    -fx-background-color: #0a7df3;
    -fx-cursor: hand;
}

.login-button:hover {
    -fx-background-color: #0a6ef3;
}
